template#template-one 
    .currency-pair
        .left
            .inner-frame
                .title {{{short}}}
                .score {{{score}}}
        .right
            b.trend-text {{{rightText}}}
